


html {
  height: 100%;
  width: auto;
  background-color: black;
}

.wrapper {
  background-color: black;
}
.hero {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

canvas#plasma {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

.hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.hero-h1 {
  display: flex;
  flex-direction: row;
}

.hero-p-1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.title-name {
  margin-left: 10px;
  color: #e20126;
}

.hero-h2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 2rem;
  color: white;
}

.cta-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 1.5rem;
  color: #e20126;
  outline: 2px solid #e20126;
  outline-offset: 10px;
}

.cta-button:hover {
  color: #e20126;
}

