

body {
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: auto;
  width: 100vw;
  background-color: black;
  gap: 1px;
}
.hero {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

canvas#particleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

.hero-i {
  display: flex;
  justify-content: center;
  align-self: center;
  justify-self: center;
  margin-left: 25%;
  height: 50vh;
  width:  50vw;
  z-index: 1;
  position: relative;
}

.hero-i:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border: 10px solid rgb(0, 0, 0);
  border-color: black;
  border-radius: 30px;
  transition: 0.5s;
  
}

.hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50vh;
  width: 50vw;
}

.hero-h1 {
  display: flex;
  flex-direction: row;
}

.hero-p-1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.title-name {
  margin-left: 10px;
  color: #e20126;
}

.hero-h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.cta-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 1.5rem;
  color: #e20126;
  outline: 2px solid #e20126;
  outline-offset: 10px;
}

.cta-button:hover {
  color: #e20126;
}

nav {
  display: flex;
  justify-content: start;
  height: 4rem;
  background-color: rgba(37, 36, 36, 0.329);
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px; 
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  color: white;
}

.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.nav ul li a.nav-about {
  color: red !important;
}

.wrapper-2 {
  display: flex;
  align-self: center;
  justify-self: center;  
  flex-direction: column;
  width: 90vw;
}

.about, .projects, .contact {
  background-color: black;
  position: relative;
  z-index: 1;
  padding-top: 4rem;
}

.about {
  color: white;
}

section#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 2rem;
  margin-top: 100px;
}

.about-container {
  display: flex;
  height: auto;
  margin-top: 5%;
}

.about-left, .about-right {
flex: 1;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.about-text {
display: flex;
flex-direction: column;
justify-content: center;
gap: 15px;
}

svg {
  height: 250px;
  width: 250px;
}