




.wrapper {
  display: flex;
  flex-direction: column;
  height: 200vh;
  width: 100vw;
  background-color: black;
}
.hero {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

canvas#particleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

.hero-i {
  display: flex;
  justify-content: center;
  align-self: center;
  justify-self: center;
  margin-left: 25%;
  height: 50vh;
  width:  50vw;
  z-index: 1;
  position: relative;
}

.hero-i:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border: 10px solid rgb(0, 0, 0);
  border-color: black;
  border-radius: 30px;
  transition: 0.5s;
  
}

.hero-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50vh;
  width: 50vw;
}

.hero-h1 {
  display: flex;
  flex-direction: row;
}

.hero-p-1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.title-name {
  margin-left: 10px;
  color: #e20126;
}

.hero-h2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 2rem;
  color: white;
}

.cta-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 1.5rem;
  color: #e20126;
  outline: 2px solid #e20126;
  outline-offset: 10px;
}

.cta-button:hover {
  color: #e20126;
}

.about {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
}